#include <windows.h>

// Version Information Resource
VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,0,0,0
PRODUCTVERSION  2,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Rift Open Source Project\0"
            VALUE "FileDescription",  "Rift - High Performance C++20 Proxy Service\0"
            VALUE "FileVersion",      "2.0.0.0\0"
            VALUE "InternalName",     "rift\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Rift Authors (GPLv3)\0"
            VALUE "OriginalFilename", "rift.exe\0"
            VALUE "ProductName",      "Rift\0"
            VALUE "ProductVersion",   "2.0.0.0\0"
            VALUE "Comments",         "Professional Smart Routing & Failover Proxy Service for Windows\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
